:root {
  --curve: 10;
  --second-accent: #ff6363;
  --surface-color: #ffffff;
  --bg-nav: #000000;
}

.container-infocards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 1rem;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card__overlay {
  transform: translateY(0);
  height: 100%;
  border-radius: 2rem 2rem 0rem 0rem;
}

.card-wrap:hover .card__header {
  transform: translateY(0);
  height: 40%; /* Expand header space */
  border-radius: 2rem 2rem 0rem 0rem;
}

.card-tipos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 250px; /* Initial height */
  width: 250px;
  overflow: hidden;
  border-radius: 30rem;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(100%);
  background-color: rgba(5, 4, 30, 0.459);
  transition: transform 0.3s ease-in-out;
  height: 40%;
  border-radius: var(--curve) px;
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1em;
  padding: 2.5em;
  border-radius: 30rem;
  background-color: #04102bc2;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  height: 50%;
}

.card__thumb img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: white;
}

.card__tagline {
  font-size: 0.9rem;
  color: #aaa;
}

.card__description {
  font-size: 0.85rem;
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: #04102bc2;
  height: 100%;
}
