.button {
  margin-top: 1rem !important;
  text-transform: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SifonnPro", sans-serif;
}
.shape {
  height: 2rem;
  border-radius: 20px 20px 0 0;
  margin-top: 11rem;
  width: 100%;
  display: block;
  position: absolute;
}
