@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@layer components {
  .editor-btn {
    @apply flex justify-center items-center text-[#4493B2] rounded-lg w-8 aspect-square;
  }

  .active-editor-btn {
    @apply text-white bg-[#FA5564];
  }
}

@font-face {
  font-family: "SifonnBasic";
  src: url("./assets/fonts/SIFONN_BASIC.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SifonnPro";
  src: url("./assets/fonts/SIFONN_PRO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nurom-Bold";
  src: url("./assets/fonts/Nurom-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  body {
    font-family: "Poppins", sans-serif !important;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nurom-Bold", sans-serif !important;
  }
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* index.css */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #ffe4e7; /* Track color */
  border-radius: 10px; /* Round edges */
}

::-webkit-scrollbar-thumb {
  background: #ffb3c1; /* Scrollbar color */
  border-radius: 10px; /* Round edges */
  border: 2px solid #f0f0f0; /* Space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4081; /* Darker color on hover */
}
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Make scrollbar always visible */
html {
  overflow-y: scroll;
}
.drop-cap p:first-of-type::first-letter {
  font-size: 3rem; /* Makes the first letter large */
  font-weight: bold; /* Makes it bold */
  color: #333; /* Matches your theme */
  float: left; /* Aligns it to the left */
  margin-right: 8px; /* Adds spacing */
  line-height: 1; /* Keeps it aligned */
}
